html {
  background: url(background.jpg) no-repeat center center fixed; 
  background-size: cover;
}

body {
  font-family: 'Lora', serif;
 }
 
a, h1, h2, h3, h4, h5, h6, p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  color: white;
  text-align: center;
  text-decoration: none;
 }

a:focus, a:hover, a:active {
   outline: 0 !important;
}

.background {
  width: 100%;
  height: 100%;
  background: rgba(108, 122, 137, 0.80);
  top: 0px;
  left: 0px;
  position: fixed;
}

.title {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 40px;
  padding-top: 20px;
}

hr {
  width: 350px;
}

.nav {
  border: 1px solid white;
  border-width: 1px 0;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
  margin-top: 20px;
}

.nav li{
  display: inline;
}

.nav a{
  display: inline-block;
  padding: 15px;
  letter-spacing: 2px;
}

.nav a:hover {
  font-weight: bold;
}

.personal-pic {
  border-radius: 50%;
  height: 250px;
  width: 250px;
}

.contact-table {
  text-align: left;
  margin-left: auto; 
  margin-right: auto;
  margin-bottom: 25px;
}

th, td {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  color: white;
  padding: 15px;
}

.hoverable:hover a{
  font-weight: bold;
}

.about-me {
  width: 450px;
  padding-left: 25px;
  text-align: left;
}

.about-me-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 35px;
}

.wrapper {
  margin-left: auto;
  margin-right: auto;
}

.column {
  float: left;
  width: 50%;
}

.column1 {
  float: left;
  width: 40%;
}

.col-format {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.resume-title {
  text-transform: uppercase;
  letter-spacing: 3px;
  text-align: left;
}

.resume-header {
  color: #F0DCCA;
  font-weight: bold;
  letter-spacing: 2px;
  text-align: left;
}

.resume-desc {
  text-align: left;
  letter-spacing: 1px;
}

.logo {
  margin-top: 20px;
  margin-left: 20px;
}

#test {
  height: 200px;
  width: 200px;
}

.profile-image {
  height: 200px;
}
